@model IEnumerable<SchoolERP.Models.userviewmodel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Register","Account")
</p>
<table class="table">
    <tr>
        <th>
            UserName
        </th>

       
    
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
           Employee
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
  
       
      
    </tr>
}

</table>
