@model SchoolERP.Models.ClassStandard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassStandard</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roomno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roomno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
